<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>مكتبة العبدلي</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active " href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">اهلاً وسهلاً بكم في  <span>مكتبة العبدلي</span></h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="بحث">
            </form>
          </div>
          <div class="col-lg-4">
            <form action="" method="post">
              <input type="email" name="email">
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ======= Why Us Section ======= -->
    

        <h2 class="h1"> جميع الكتب </h2>
        <hr>
        <h4 >يمكنك تحميل كتابك بنقرة زر</h4>


        <div class="alabdli">

          <div class="ahmed">
            <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
              <div class="card wow fadeInUpBig border  shadow rounded-3" >
                <img src="assets/img/OIP.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> تصميم التعليم</h5>
                  <p class="card-text lead">
                    هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                  
                  </p>
                  <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4  ">
            <div class="card wow fadeInUpBig border  rounded-3 shadow" >
              <img src="assets/img/OIP.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="assets/img/OIP.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="assets/img/OIP.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title ">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mt-4 ">
            <div class="card wow fadeInUpBig border  shadow rounded-3" >
              <img src="./images/OIP (4).jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">شواطئ عدن</h5>
                <p class="card-text lead">
                  هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،  
                
                </p>
                <a href="#" class="btn btn-outline-primary">عرض  المطعم</a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section> 

<!-- End Why Us Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info  example.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Moderna</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ALABDLI LIBRARY</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://eng.ahmedalabdli@gmail.com/">Ahmed A. Alabdli</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>