body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-image: url(../img/lib.jpg); /* اسم الصورة الخلفية */
	background-size: cover;
	background-blur: 100 px; /* تعديل البلورة */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.login-container {
    width: auto;
	background-color: rgba(255, 255, 255, 0.4); /* لون خلفية نافذة تسجيل الدخول */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(7, 7, 200,1 );
	text-align: center;
	display: inline-block;

}
.login-container input{
	direction: rtl;
	margin-top: 10px;

}
.login-container small{
	text-align: left;
	color: red;
	margin-bottom: 5px;
	/* margin-bottom: 5px; */
}
.login-container button{

    border-radius: 5px;
	margin: 10px;
	background-color: #76b2f1;
}
.login-container button:hover{
	background-color: #2071c7;
}
.login-container h2 {
	margin-bottom: 20px;
}
.login-container a {
	text-decoration: none;
	color: #4507d5;
}
.login-container a:hover {
	color: #007bff;
}
.social-icons {
	margin-top: 20px;
}
.social-icons img {
	width: 40px;
	height: 40px;
	margin: 0 10px;
	border-radius: 50%;
}