<body style="direction: rtl;">
    <!--Start Navbar by Ahmed A. Alabdli -->
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand text-success" href="#">مكتبة ينابيع الخير</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">الرئيسية <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#all_books"> جمع الكتب</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contect_us">إتصل بنا</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; font-size: 16px;"><span style="color: rgb(10, 15, 167);font-size: 12px;">مرحباً / </span> احمد العبدلي</a>
              </li>

            <li class="nav-item">
              <img src="assets/img/boy.png" alt="" style="width: 30px;height: 30px; border-radius: 50%;">
              <!-- <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Track
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Front-End</a>
                <a class="dropdown-item" href="#">Back-End</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">FullStack Developer</a>
              </div> -->
            </li>
          </ul>
          
        </div>
      </nav> 
    
    <!--end Navbar by Ahmed A. Alabdli -->

     <!-- start slide -->
     <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="border-radius: 20px; height: 500px;" src="assets/img/OIP2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img style="border-radius: 20px; height: 500px;" src="assets/img/OIP1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img style="border-radius: 20px; height: 500px;" src="assets/img/OIP4.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div> -->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" >
        <div class="carousel-item active">
          <img src="assets/img/slid3.jpg" class="d-block w-100" alt="..." style="height: 400px;">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slid2.jpg" class="d-block w-100" alt="..." style="height: 400px;">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slid4.jpg" class="d-block w-100" alt="..." style="height: 400px;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- end slid -->

    <div class="container m-4 bg-warning p-2" >
      <div class="row">
        <div class="col-2">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">بحث</button>
        </div>
        <div class="col-5">
            <input class="form-control mr-sm-2" type="search" placeholder="ابحث عن كتابك" aria-label="Search">
        </div>
        <div class="col-5">
          <select class="form-select " aria-label="Default select example">
            <option selected>اختار فئة الكتاب</option>
            <option value="1">كتب دينية</option>
            <option value="2">كتب طبية</option>
            <option value="3">كتب هندسية</option>
          </select>
        </div>

      </div>
    </div>
     

    <!-- Start Home by Ahmed -->
    <!-- <div class="container m-1">
        <div class="row">
            <div class="col-lg-8">
                <div class="jumbotron bg-light" style="direction: ltr;">
                    <h1 class="display-5 text-success" style="direction: right;">موقع تعليم الكتروني</h1>
                    <p class="lead">موقع <b>تعليم الالكتروني</b>  هو موقع تعلمي يمكنك من خلاله تعلم الكثير من لغات البرمجه و أطر العمل المختلفة</p>
                    <hr class="my-4">
                    <p>يمكنك البحث عن المسار التعليمي او الكورس المطلوب او الدروس او الكتب التعليمية بسهولة.</p>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">بحث</button>
                      </form>                  </div>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <a data-toggle="collapse" href="#x" type="button" class="list-group-item list-group-item-action active bg-success" aria-current="true">
                        Front-End Developer
                    </a>
                    <div class="collapse show" id="x">
                    <button type="button" class="list-group-item list-group-item-action">HTML</button>
                    <button type="button" class="list-group-item list-group-item-action">CSS</button>
                    <button type="button" class="list-group-item list-group-item-action">Bootstrap</button>
                    <button type="button" class="list-group-item list-group-item-action">JavaScript</button>
                    <button type="button" class="list-group-item list-group-item-action">Angular</button>

                    </div>

                  </div>
            </div>
        </div>
    </div> -->
    
    <!-- end Home by Ahmed -->
    <hr class="m-4">
    <h3 class="text-center">الدورات التدريبيه</h3>
    <p class="text-center m-3 mb-5"> يمكنك اختيار الدوره التدريبه وعرض تفاصيل اكثر عنها من هنا ...</p>

    

    <!-- Start Card by Ahmed -->

    <div class="container m-1" id="all_books">
                <div class="row ">
                <div class="col-lg-3 col-md-4 col-sm-6 p-1" *ngFor= "let item of service.books ">
                    <div class="card m-3"  >
                        <img src="assets/img/OIP.jpg" class="card-img-top" alt="...">
                        <div class="card-body justfi-content brtween">
                          <h5 class="card-title">{{item.title}}</h5>
                          <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                          <a href="#" class="btn btn-primary">تحميل pdf</a>
                          <a href="#" class="btn btn-success">عرض الكتاب</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
            
            <!--
                <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                <div class="card"  >
                    <img src="assets/img/OIP1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">إسم المساق التعليمي</h5>
                      <p class="card-text">تهدف هذه الدوره على تلبية سوق العمل لاحتوائها على الكثير من المعلومات القيمة حول المجال.</p>
                      <a href="#" class="btn btn-success">عرض الدورة</a>
                    </div>
                  </div>
            </div>
            -->
    <!-- end  Card by Ahmed -->
    <br>

   

      

      <!-- start contect us -->
      <div class="container">
        <div class="text-center m-5" id="contect_us">
          <!-- <hr style="margin-bottom: -30px; z-index: -1;"> -->
          <h1>اتصل بنا</h1>
          <p>يمكنك التواصل معنا باي وقت</p>
        </div>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-lg-6 text-center" >
              <img src="assets/img/contect_us.jpg" alt="..." class="rounded float-start">
            </div>
            <div class="col-lg-6">
              <div class="card-body">
                <h5 class="card-title"> اتصل بنا !</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <form class="m-2">
                  <div class="form-group">
                    <label>البريد الالكتروني</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label >الرسالة</label>
                    <textarea class="form-control"></textarea>
                  </div>
                  <button type="submit" class="btn btn-outline-success">Submit</button>
                </form>
            </div>
          </div>
        </div>
      </div>
      <!-- end contect us -->

      <!-- start footer -->
      <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4 bg-dark" style="color: white; border-top: 10px solid rgba(36, 222, 43, 0.8);">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Footer text</h5>
      
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Footer text</h5>
      
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
              </p>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(36, 222, 43, 0.8);">
          © 2024 Copyright:
          <a class="text-body" href="eng.ahmedalabdli@gmail.com">Ahmed A. Aabdli</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- start footer -->




</div>
   
</body>